.footer-wrapper {
  width: calc(100% - 20%);
  height: 409px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  align-items: center;
  position: relative;
}

.top {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.right {
  display: flex;
  gap: 5rem;
}

.footer-logo {
  height: auto;
  width: 135px;
}
p {
  color: white !important;
  text-align: left;
}

.desc {
  margin: 0;
  padding: 0;
  width: 529px;
}

@media (max-width: 768px) {
  .desc {
    width: 100%;
  }
}

.quick-links {
  display: flex;
  flex-direction: column;
}

.quick-links p {
  margin: 0;
}

.reach {
  display: flex;
  flex-direction: column;
}

.reach p {
  margin: 0;
}

.social-links {
  margin-top: 57.15px;
  display: flex;
  gap: 1rem;
}

.social-links a img{
  width: 24px;
}

.title {
  margin-bottom: 1rem !important;
}

.reach-items {
  display: flex;
  gap: 1rem;
}

.reach-items img {
  width: 23px;
  height: auto;
  object-fit: contain;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bottom p {
  margin: 0;
}

.bottom a {
  background: linear-gradient(90deg, #EEAC9C, #F5E0C1, #ADE5B9, #4E9096);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.hr {
  margin: 2rem 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.3) 20%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.3) 80%,
      transparent 100%);
}

@media (max-width: 768px) {
  .footer-wrapper {
    width: calc(100% - 20%);
    height: fit-content;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    align-items: center;
    position: relative;
  }

  .top {
    flex-direction: column;
    gap: 2rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left p {
    text-align: center;
  }

  .social-links {
    margin: 26px;
  }

  .right {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .bottom {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .bottom p {
    text-align: center;
  }
}